
 </button>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav ml-auto">
     <li class="nav-item">
       <a class="nav-link" href="{{ url('/tampilan')}}">Home</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="{{ url('/rooms')}}">Kamar</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="{{ url('/reservation')}}"
         >Reservasi</a
       >
     </li>

     <li class="nav-item dropdown">
       <a
         class="nav-link dropdown-toggle"
         href="#"
         id="navbarDropdown"
         role="button"
         data-toggle="dropdown"
         aria-haspopup="true"
         aria-expanded="false"
       >
         Dropdown
       </a>
       <div
         class="dropdown-menu dropdown-menu-right"
         aria-labelledby="navbarDropdown"
       >
         <a class="dropdown-item" href="{{ url('/logintampilan')}}">Login</a>
         <a class="dropdown-item" href="{{ url('/registertampilan')}}">Register</a>
         <a class="dropdown-item" href="{{ url('/profiltampilan')}}">Profil</a>
         <a class="dropdown-item" href="{{ url('/profiltampilan')}}">Keluar</a>
     </li>
     <li class="nav-item">
       <a class="nav-link"
       >
     </li>
   </ul>
 </div>
</nav>
<div class="home-header--title">
 <div class="container p-5">
   <h1>SELAMAT DATANG</h1>
